
#leftPane .text{
    -fx-font-weight: bold;
}

#leftPane {
    -fx-background-color: #E0DFDC;
}

#leftPane .button{
    -fx-background-color: #CECEC9;
}

#leftPane .button:hover {
    -fx-background-color: red;
    -fx-cursor: hand;
}

#leftPane .button:pressed {
    -fx-background-color: #4a4a4a;
}

#usOption:hover{
    -fx-background-color: grey;
    -fx-cursor: hand;
}

#libOption:hover{
    -fx-background-color: grey;
    -fx-cursor: hand;
}

#settingTitle {
    -fx-font-weight: bold;
}

#borOption:hover{
    -fx-background-color: grey;
    -fx-cursor: hand;
}

#usOption:pressed {
    -fx-background-color:#888888;
}

#libOption:pressed {
    -fx-background-color:#888888;
}

#borOption:pressed {
    -fx-background-color:#888888;
}

#titlePane {
    -fx-background-color: #6A6A6A;
}

#titlePane .label{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 26;
}

#userBg,
#brBg,
#libBg,
#settingBg,
#authorListPane {
    -fx-background-color: #F2EFE3;
}

#userBg,
#brBg,
#libBg,
#authorListPane .label{
    -fx-font-weight: bold;
    -fx-font-size : 20;
}

.table-view {
    -fx-background-color: white;
    -fx-padding: 0;
    -fx-border-color: grey ;
    -fx-border-width: 1.5px;
    -fx-border-radius: 5px;
}


.table-view .column-header-background {
    -fx-background-color: #D9D9D9;

}

.table-view .column-header .label {
    -fx-text-fill: black;
    -fx-font-weight: normal;
    -fx-font-size: 15;
}

.table-view .column-header, .filter {
    -fx-background-color: transparent;
    -fx-size:40px;
}

#brBg .button{
    -fx-font-weight: bold ;
    -fx-font-size: 12;
    -fx-background-color: #D9D9D9;
}

#brBg .button:hover{
    -fx-background-color: grey;
    -fx-cursor: hand;
}

#brBg .button:pressed{
    -fx-background-color: #888888;
    -fx-cursor: hand;
}

#libBg .table-view .column-header .label{
    -fx-font-weight: normal;
    -fx-font-size: 15;
    -fx-text-fill: black;
}

#avaButton:hover{
    -fx-cursor: hand;
}

#docLeftPane {
    -fx-background-color: #E9E4D3;
    -fx-background-radius:8;
    -fx-border-radius: 8;
}

#publishIcon,
#authorIcon,
#docIcon {
    -fx-background-color: #F9F9F9;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
}

#publishIcon,
#authorIcon,
#docIcon:hover{
    -fx-cursor: hand;
}

#publishIcon,
#authorIcon,
#docIcon:pressed{
    -fx-cursor: hand;
}

#publishSearchButton,
#docSearchButton,
#authorSearchButton {
    -fx-font-weight: bold ;
    -fx-font-size: 12;
    -fx-background-color: #F6A737;
}

#allButton {
    -fx-background-color: white;
    -fx-font-size: 12;
    -fx-border-color: black;
    -fx-border-width: 0.5;
    -fx-border-radius: 3;
}

#hhBox .button{
    -fx-font-weight: bold ;
    -fx-font-size: 12;
    -fx-background-color: #D9D9D9;
}

#addDocButton{
    -fx-font-weight: bold ;
    -fx-font-size: 12;
    -fx-background-color: #D9D9D9;
}

#libBg .button:hover{
    -fx-background-color: grey;
    -fx-cursor: hand;
}

#libBg .button:pressed{
    -fx-background-color: #888888;
    -fx-cursor: hand;
}



#userSearchBox,
#docSearchBox,
#authorSearchBox,
#publisherSearchBox {
    -fx-background-color: white;
    -fx-border-width: 0;
    -fx-background-radius: 5;
    -fx-border-radius: 5 ;
    -fx-font-weight: none ;
    -fx-font-size: 13;
    -fx-padding: 5 5 5 5 ;
}

#userBg .button:hover{
    -fx-background-color: grey;
    -fx-cursor: hand;
}

#userBg .button:pressed{
    -fx-background-color: #888888;
    -fx-cursor: hand;
}

#settingBg .label {
    -fx-font-weight: bold;
}

#settingBg .button{
    -fx-background-color: #E2D5B4;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

#setAva:hover{
    -fx-cursor: hand;
}

#hhBox {
    -fx-border-color: black;
    -fx-border-width: 0.5;
    -fx-border-radius: 3;
    -fx-background-color: white;
}

#shapee {
    -fx-fill: #E9E4D3;
    -fx-stroke: none;
}

#leftBorIconPane,
#leftLibIconPane,
#leftUserIconPane {
    -fx-border-width: 2;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
}

#libBox {
    -fx-background-color: #E9E4D3;
    -fx-background-radius:8;
    -fx-border-radius: 8;
}


#userSearchButton {
    -fx-font-weight: bold ;
    -fx-font-size: 12;
    -fx-background-color: #F6A737;
}

#addUserButton {
    -fx-font-weight: bold ;
    -fx-font-size: 12;
    -fx-background-color: #D9D9D9;
}





