* {
    -fx-font-size: 18;
}

.modalHeader {
    -fx-background-color: #4B402F;
}

.modalHeader .text {
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.modalBg {
    -fx-background-color: #FDFBF4;
}

.text-white {
    -fx-text-fill: white;
}

.editBtn {
    -fx-background-color: transparent;
    -fx-text-fill: #4B402F;
    -fx-padding: 0;
    -fx-cursor: hand;
}

.input-field {
    -fx-padding: 12px 12px 12px 40px;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-color: #DFE6E9;
    -fx-border-width: 1;
    -fx-font-size: 14px;
    -fx-background-color: white;
    -fx-pref-height: 40;
}

.input-field:focused {
    -fx-border-color: #FAAA3A;
    -fx-border-width: 2;
}

/* Buttons */

#saveBtn {
    -fx-background-color: #FAAA3A;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-padding: 12px 24px;
    -fx-background-radius: 8;
    -fx-cursor: hand;
}

#saveBtn:hover {
    -fx-background-color: derive(#ffbc67, -10%);
}

#saveBtn:pressed {
    -fx-background-color: derive(#ffbc67, -20%);
}

#deleteBtn {
    -fx-background-color: #BA3416;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-padding: 12px 24px;
    -fx-background-radius: 8;
    -fx-cursor: hand;
}

#deleteBtn:hover {
    -fx-background-color: derive(#BA3416, -10%);
}

#deleteBtn:pressed {
    -fx-background-color: derive(#BA3416, -20%);
}


/* Error */

.error {
    -fx-text-fill: red;
}
