


#titlePane {
    -fx-background-color: #62533D;
}

#titlePane .label{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 26;
}

#leftMain .label{
    -fx-font-size: 15;
}


.text-area {
    -fx-background-color: #FDFBF4;
    -fx-background-radius: 0;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
}

#leftMain,
#mainPane {
    -fx-background-color: #FDFBF4;
}

#mainPane .label{
    -fx-font-weight: bold;
}
