#a1 {
    -fx-background-color: #4fb4b0;
}

#libtext {
    -fx-text-fill: white;
}

#managetext {
    -fx-text-fill: white;
}

#leftmenu {
    -fx-background-color: #0f6789;
}

.button {
    -fx-background-color: transparent;
    -fx-border-color: #fff;
    -fx-border-width: 1px;
    -fx-cursor: hand;
    -fx-text-fill: white;
    -fx-font-size: x-medium;
}

.button:hover {
    -fx-background-color: #fff;
    -fx-text-fill: #000;
}

Button:pressed {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-border-color: yellow;
    -fx-border-width: 2px;
}

.shadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 5, 0, 0, 0);
}

.bg {
    -fx-background-color: #808080;
}

.radius {
    -fx-background-radius: 8px;
}

.bg {
    -fx-background-color: #C0C0C0;
}

.bold-text {
    -fx-font-weight: bold; /* Làm chữ đậm */
    -fx-font-size: 16px; /* Cỡ chữ (px) */
}

#logoutBut {
    -fx-background-color: linear-gradient(to bottom, #8b8b8b, #636363);
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 8px 16px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: black;
}


#logoutBut:hover {
    -fx-background-color: red;
    -fx-cursor: hand;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}


#logoutBut :pressed {
    -fx-background-color: darkred; /* Màu đỏ đậm hơn khi nhấn */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 1, 1); /* Thêm bóng */
    -fx-scale-x: 0.95; /* Giảm kích thước để tạo cảm giác nhấn */
    -fx-scale-y: 0.95;
}



