
#titlePane {
    -fx-background-color: #62533D;
}

#titlePane .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 24;
}

#desContent {
    -fx-background-color: #FDFBF4;
    -fx-background-radius: 0;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
}

#leftMain,
#mainPane {
    -fx-background-color: #FDFBF4;
}

#idLabel {
    -fx-font-weight: bold;
}

#inStockPane {
    -fx-background-color: #EDEDED;
}

#titleLabel,
#authorLabel,
#publisherLabel,
#pubYearLabel,
#genreLabel,
#languageLabel,
#isbnLabel,
#desLabel {
    -fx-font-weight: bold;
}
