.root {
    -fx-font-family: 'Montserrat';
}

#ttPane {
    -fx-background-color: #503B3A;
}

#ttPane .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#mainPane {
    -fx-background-color: #F2EFE3;
}

#saveBut {
    -fx-background-color: #FAAA3A;
    -fx-text-fill: #FDFBF4;
    -fx-font-weight: bold;
}

#cancleBut {
    -fx-background-color: #D6D6D6;
    -fx-font-weight: bold;
}

#cancleBut:hover {
    -fx-cursor: hand;
    -fx-background-color: grey;
}

#saveBut:hover {
    -fx-cursor: hand;
    -fx-background-color: #CC9966;
}

.label {
    -fx-font-weight: bold;
}

#erMessage {
    -fx-font-weight: none;
}

#newNameField {
    -fx-border-color: black;
    -fx-border-radius: 5;
}



