.root {
    -fx-font-family: 'Montserrat';
}


#titlePane {
    -fx-background-color: #503B3A;
}

#titlePane .label {
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

#mainPane {
    -fx-background-color: #FDFBF4;
}

.password-field {
    -fx-padding: 10 10 10 35;
    -fx-background-radius: 2;
    -fx-border-radius: 2;
    -fx-border-color: black;
}

.label {
    -fx-font-weight: bold;
}

#saveBut {
    -fx-background-color: #FAAA3A;
    -fx-font-weight: bold;
    -fx-text-fill: #FDFBF4;
}

#cancelBut {
    -fx-background-color: #D6D6D6;
    -fx-font-weight: bold;
}

#erMessage,
#erMessage1 {
    -fx-text-fill: red;
    -fx-font-weight: none;
}

#cancelBut:hover {
    -fx-cursor: hand;
    -fx-background-color: grey;
}

#saveBut:hover {
    -fx-cursor: hand;
    -fx-background-color: grey;
}





