.title {
    -fx-font-size: 30;
    -fx-font-weight: bold;
}

.bg-color {
    -fx-background-color: #F8F5EC;
}

.separator .line {
    -fx-border-width: 0.5;
    -fx-border-color: #102741;
    -fx-border-radius: 1;
    -fx-opacity: 0.4;
}

.search-box {
    -fx-border-width: 0.5;
    -fx-border-color: #DFE6E9;
    -fx-border-radius: 5;
    -fx-background-color: white;
}

.search-box:focused {
    -fx-border-color: #FAAA3A;
    -fx-border-width: 0.75;
}

#searchBtn {
    -fx-background-color: #FAAA3A;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-padding: 2 20 2 20;
    -fx-background-radius: 5;
    -fx-cursor: hand;
    -fx-border-width: 0.5;
    -fx-border-color: #6F6F6F;
    -fx-border-radius: 5;
}

.addNewBtn {
    -fx-background-color: #E0DFDC;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-padding: 3 40 3 40;
    -fx-background-radius: 4;
    -fx-cursor: hand;
}

/* Table */


.table-container {
    -fx-background-color: white;
    -fx-background-radius: 5;
}

.table-view .column-header-background {
    -fx-background-color: white;
    -fx-effect: none;
}

.table-view .separator {
    -fx-background-color: white;
}


.table-view .column-header .label {
    -fx-text-fill: #102741;
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.table-view {
    -fx-background-color: white;
    -fx-font-size: 17;
}


.table-view .column-header .label:hover {
    -fx-text-fill: #FAAA3A;
}

.table-view .column-header .label:pressed {
    -fx-text-fill: #FAAA3A;
}

.table-view .column-header .label:focused {
    -fx-text-fill: #FAAA3A;
}


.table-row-cell:selected {
    -fx-background-color: #c8bca8;
    -fx-border-width: 0.5;
    -fx-border-color: #DFE6E9;
    -fx-font-weight: bold;
}


.document-button {
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-fill: #3A3026;
    -fx-text-fill: #3A3026;
    -fx-cursor: hand;
    -fx-padding: 10;
}

.document-button:hover {
    -fx-background-color: #d1cfcb;
}

.document-button:pressed {
    -fx-background-color: #d1cfcb;
}

.document-button-active {
    -fx-background-color: #3A3026;
    -fx-fill: white;
    -fx-text-fill: white;
}

.document-alt-color {
    -fx-background-color: #E9E4D3;
    -fx-fill: #E9E4D3;
    -fx-text-fill: #E9E4D3;
}

